# Mac stuff:
.DS_Store

# trunk output folder
dist

# Rust compile target directories:
target

# code coverage artifacts
*.lcov

# Test snapshot files
**/tests/snapshots/**/*.diff.png
**/tests/snapshots/**/*.new.png